.input-wrap {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.countriesNameInput {
  width: 220px;
  height: 40px;
  border: 2px solid rgb(13, 38, 77);
}

.list {
  width: 80%;
  margin: auto;
  background-color: rgb(255, 246, 230);
  padding: 30px;
  border: 1px solid rgb(13, 38, 77);
  border-radius: 5px;
}

.country-card {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.country-name {
  text-align: center;
  font-size: 30px;
  color: rgb(13, 38, 77);
  margin-bottom: 20px;
  // padding: 0;
}
.country-parameter {
  list-style: none;
  padding: 5px;
  color: rgb(170, 71, 5);
}
.country-parameter span {
  font-weight: 700;
  color: rgb(13, 38, 77);
}
.language {
  padding: 3px;
  list-style: square;
}
li.item {
  padding: 3px;
  list-style: square;
  color: rgb(13, 38, 77);
  font-weight: 700;
}
